<article>
  <main>
    <img
      src="../../assets/dariana-illustartions/about.png"
      alt="Dariana Rengifo, full stack developer"
    />
    <h2>{{ "about.title1" | translate }}</h2>
    <p>{{ "about.about1" | translate }}</p>
    <p>{{ "about.about2" | translate }}</p>
    <p>{{ "about.about3" | translate }}</p>
    <p>{{ "about.about4" | translate }}</p>
  </main>

  <section>
    <h2>{{ "about.title2" | translate }}</h2>
    <p>{{ "about.strengths" | translate }}</p>
  </section>
  <section>
    <h2>{{ "about.title3" | translate }}</h2>
    <p>{{ "about.motivation" | translate }}</p>
  </section>
  <section>
    <h2>{{ "about.title4" | translate }}</h2>
    <p>{{ "about.objectives" | translate }}</p>
  </section>
  <div class="buttons">
    <a
      download="Dariana Rengifo - CV"
      href="../../assets/pdf/CV - Dariana Rengifo, full stack developer.pdf"
    >
      {{ "home.download" | translate }}
    </a>
    <a routerLink="/contact" ariaCurrentWhenActive="page" (click)="scrollTop()">{{
      "home.contact" | translate
    }}</a>
  </div>
</article>
