<nav>
  <a
    routerLink="/home"
    routerLinkActive="active"
    ariaCurrentWhenActive="page"
    (click)="scrollTop()"
  >
    <img src="../../assets/icons/home.png" alt="Home" />
    <span class="tooltip">{{ "navbar.home" | translate }}</span>
  </a>
  <a
    routerLink="/knowledge"
    routerLinkActive="active"
    ariaCurrentWhenActive="page"
    (click)="scrollTop()"
  >
    <img src="../../assets/icons/knowledge.png" alt="Knowledge" />
    <span class="tooltip">{{ "navbar.knowledge" | translate }}</span>
  </a>
  <a
    routerLink="/projects"
    routerLinkActive="active"
    ariaCurrentWhenActive="page"
    (click)="scrollTop()"
  >
    <img src="../../assets/icons/projects.png" alt="projects" />
    <span class="tooltip">{{ "navbar.projects" | translate }}</span>
  </a>
  <a
    routerLink="/about"
    routerLinkActive="active"
    ariaCurrentWhenActive="page"
    (click)="scrollTop()"
  >
    <img src="../../assets/icons/about.png" alt="About" />
    <span class="tooltip">{{ "navbar.about" | translate }}</span>
  </a>
  <a
    download="Dariana Rengifo - CV"
    href="../../assets/pdf/CV - Dariana Rengifo, full stack developer.pdf"
  >
    <img src="../../assets/icons/cv.png" alt="Donwload CV" />
    <span class="tooltip">{{ "navbar.download" | translate }}</span>
  </a>
  <a
    routerLink="/contact"
    routerLinkActive="active"
    ariaCurrentWhenActive="page"
    (click)="scrollTop()"
  >
    <img src="../../assets/icons/contact.png" alt="contact" />
    <span class="tooltip">{{ "navbar.contact" | translate }}</span>
  </a>
</nav>
