<h2>{{ "contact.title" | translate }}</h2>
<p>{{ "contact.subtitle" | translate }}</p>

<form [formGroup]="formContact" (submit)="send()">
  <input
    type="text"
    name="name"
    [placeholder]="'contact.name' | translate"
    formControlName="name"
    required
  />
  <p class="error" [hidden]="name.valid || name.pristine">
    {{ "contact.nameError" | translate }}
  </p>
  <input
    type="email"
    name="email"
    [placeholder]="'contact.email' | translate"
    formControlName="email"
    required
  />
  <p class="error" [hidden]="email.valid || email.pristine">
    <span *ngIf="email.errors?.['required']">{{
      "contact.emailError1" | translate
    }}</span>
    <span *ngIf="email.errors?.['email']">{{
      "contact.emailError2" | translate
    }}</span>
  </p>
  <textarea
    name="message"
    [placeholder]="'contact.message' | translate"
    formControlName="message"
    required
  ></textarea>
  <p class="error" [hidden]="message.valid || message.pristine">
    {{ "contact.messageError" | translate }}
  </p>
  <p class="success" [hidden]="success">
    {{ "contact.success" | translate }}
  </p>
  <p class="error" [hidden]="error">
    {{ "contact.error" | translate }}
  </p>
  <div class="loader" [hidden]="loading"></div>
  <button type="submit" [disabled]="formContact.invalid">
    {{ "contact.send" | translate }}
  </button>
</form>

<footer>
  <p class="author">-- {{ "contact.author" | translate }} --</p>
  <a href="mailto:darianarengifo@gmail.com" target="_blank" rel="noreferrer">
    <img
      src="https://cdn-icons-png.flaticon.com/512/6244/6244438.png"
      alt="Gmail"
    />
  </a>
  <a [href]="'contact.whatsapp' | translate" target="_blank" rel="noreferrer">
    <img
      src="https://cdn-icons-png.flaticon.com/512/1384/1384007.png"
      alt="WhatsApp"
    />
  </a>
  <a
    href="https://www.linkedin.com/in/dariana-rengifo/"
    target="_blank"
    rel="noreferrer"
  >
    <img
      src="https://cdn-icons-png.flaticon.com/512/1384/1384014.png"
      alt="LinkedIn"
    />
  </a>
  <a
    href="https://www.behance.net/darianarengifo"
    target="_blank"
    rel="noreferrer"
  >
    <img
      src="https://cdn-icons-png.flaticon.com/512/3670/3670064.png"
      alt="Behance"
    />
  </a>
  <a href="https://github.com/darianaren/" target="_blank" rel="noreferrer">
    <img
      src="https://cdn-icons-png.flaticon.com/512/733/733609.png"
      alt="GitHub"
    />
  </a>
</footer>
