@import "../../variables.css";

a {
  display: block;
  text-align: end;
  color: var(--green);
  margin: 0;
  margin-top: 0.5rem;
  width: 100%;
}

article {
  margin: 1rem 0;
  padding: 0.5rem 1rem 0;
  border: 0.15rem solid var(--beige);
  border-radius: var(--border-radius);
  background-color: #ddbea934;
}

div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  margin-bottom: 1.5rem;
  width: 12ch;
}

.pointer {
  cursor: pointer;
}

h3 {
  font-weight: var(--semibold);
}

img {
  margin-right: 0.5rem;
  width: 1rem;
  filter: var(--filter-beige);
}

p,
ul,
li {
  margin: 0;
}

section {
  display: flex;
  flex-wrap: wrap;
}

span {
  font-weight: var(--semibold);
}

.details {
  display: block;
  width: calc(100vw - 5.31rem);
  padding: 1rem;
  border-radius: var(--border-radius);
  background-color: var(--beige);
}

.knowledge {
  display: block;
  width: max-content;
  margin: 0;
}

.project {
  margin-top: 1rem;
  font-weight: var(--semibold);
}
.projects {
  display: block;
  width: 100%;
  margin: 0;
}

.skill {
  display: block;
  width: 100%;
  margin: 0;
}
.grid-skill {
  display: grid;
  grid-template-columns: 2rem 1fr;
  justify-content: start;
  align-items: center;
  margin: 0;
  margin-bottom: 1.5rem;
  width: 100%;
}
.skill-details {
  margin-bottom: 1.5rem;
  padding: 1rem;
  border-radius: var(--border-radius);
  background-color: var(--beige);
}
.skills {
  padding-top: 1.5rem;
  margin-bottom: 6rem;
}
@media screen and (min-width: 65em) and (orientation: landscape) {
  .details {
    width: calc(100vw - 26.3rem);
  }
}
